[submodule "Boost"]
	path = Boost
	url = git@github.com:KayEss/fost-boost.git
[submodule "OpenSSL"]
	path = OpenSSL
	url = git@github.com:KayEss/fost-openssl.git
[submodule "crypto++"]
	path = crypto++
	url = git@github.com:KayEss/fost-crypto.git
[submodule "fost-base"]
	path = fost-base
	url = git@github.com:KayEss/fost-base.git
[submodule "fost-internet"]
	path = fost-internet
	url = git@github.com:KayEss/fost-internet.git
[submodule "fost-rask"]
	path = fost-rask
	url = git@github.com:KayEss/fost-rask.git
[submodule "fost-orm"]
	path = fost-orm
	url = git@github.com:KayEss/fost-orm.git
[submodule "fsnotify"]
	path = fsnotify
	url = git@github.com:KayEss/f5-fsnotify.git
